<ion-view view-title="Account">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list item">
            <div class="item item-text-wrap">Email: {{currentUser}}</div>
            <div class="item item-text-wrap">Token: {{pushToken}}</div>
            <div class="item item-text-wrap">Platform: {{pushPlatform}}</div>
        </div>
    </ion-content>
</ion-view>
