<ion-modal-view view-title="Admin Post">
    <ion-header-bar class="bar-energized">
        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="closeAdminCreate()"></button>
        </div>
        <h1 class="title">Admin Post</h1>
        <!--<div class="buttons">-->
        <!--<button class="button button-balanced ng-click="postFeel()">Feel</button>-->
        <!--</div>-->
    </ion-header-bar>
    <ion-content>
        <form name="adminCreateForm" ng-submit="postAdminFeel()">
            <div class="list">
                <label class="item">
                    <textarea class="animate msd-elastic: \n;" minlength="1" maxlength="1500"
                              placeholder="Post an Admin Feel..." required name="post" style="width: 100%;"
                              ng-model="adminFeelsMessage.msg"></textarea>
                </label>
                <label class="alert alert-danger assertive" style="text-align: center"
                       ng-show="adminCreateForm.post.$error.required && adminCreateForm.post.$dirty">
                    Enter your Admin Feel!
                </label>
                <!--<label>{{adminFeelsMessage.msg}}</label>-->
                <label class="item">
                    <button ng-disabled="adminCreateForm.$invalid" class="button button-block button-energized" type="submit">Submit</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>