<ion-view view-title="Home" ng-init="homeInit()">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button ng-if="loggedIn" class="button button-icon button-clear ion-compose" ng-click="Create();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="card" ng-hide="loggedIn">
            <div class="item">
                <h2 style="text-align: center">System:</h2>

                <p style="text-align: center">Please Login</p>

                <p style="text-align: center">Wait While Content Loads</p>
            </div>
        </div>

        <!--<label class="row">Testing Push</label>-->
        <!--<button class="button button-block button-dark" ng-click="identifyUser()">-->
        <!--Identify a User-->
        <!--</button>-->
        <!--<button class="button button-block button-calm" ng-if="identified" ng-click="pushRegister()">-->
        <!--Register for Push-->
        <!--</button>-->
        <!--<button class="button button-block button-positive" ng-if="registered" ng-click="testPushToDhruval()">-->
            <!--Push To Dhruval-->
        <!--</button>-->

        <div class="list">
            <div class="item" ng-repeat="feel in feels | reverse">
                <div class="item item-avatar">
                    <img src="img/icon.png">

                    <h2 style="font-size: medium">{{feel.user}}</h2>

                    <p class="timestamp">{{feel.date}}</p>
                </div>
                <div class="item item-body item-text-wrap">
                    <p style="font-size: medium">{{feel.feel}}</p>

                    <p style="font-size: smaller" class="row">

                        <a ng-show="feel.feltBy.length == 0" class="col subdued">No Feels</a>
                        <a ng-show="feel.feltBy.length == 1" class="col subdued">{{feel.feltBy.length}} Feel</a>
                        <a ng-show="feel.feltBy.length > 1" class="col subdued">{{feel.feltBy.length}} Feels</a>

                        <a ng-show="feel.comments.length == 0" class="col subdued">No Comments</a>
                        <a ng-show="feel.comments.length == 1" class="col subdued">{{feel.comments.length}} Comment</a>
                        <a ng-show="feel.comments.length  > 1" class="col subdued">{{feel.comments.length}} Comments</a>
                    </p>
                </div>
                <div class="item row">
                    <a class="col tab-item" ng-show="hasFelt($index)" ng-click="feelingItUp($index)">
                        <i style="font-size: medium" class="icon ion-heart-broken"> Feel </i>
                    </a>
                    <a class="col tab-item" ng-hide="hasFelt($index)" ng-click="feelingItUp($index)">
                        <i style="font-size: medium" class="icon ion-heart"> Feel </i>
                    </a>
                    <a class="col tab-item" ng-click="comment($index)">
                        <i style="font-size: medium" class="icon ion-chatbox"> Comment </i>
                    </a>
                    <a class="col tab-item" ng-show="currentUser == feel.user" ng-click="deleteFeel($index)">
                        <i style="font-size: medium" class="icon ion-trash-b"> Delete </i>
                    </a>
                </div>
                <br>
            </div>
        </div>
    </ion-content>
</ion-view>
