<ion-modal-view view-title="Comment">
    <ion-header-bar class="bar-energized">
        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="closeComment()"></button>
        </div>
        <!--<div class="buttons">-->
        <!--<button class="button button-balanced ng-click="postFeel()">Feel</button>-->
        <!--</div>-->
    </ion-header-bar>
    <ion-content>
        <ion-list class="message_list color">
            <div class="item">
                <div class="row">
                    <div class="col-50 post-text ">
                        <p>{{commentingFeel.user}} <i class="icon ion-trash-b" ng-show="currentUser === commentingFeel.user"
                                            ng-click="deleteFeel(id)"></i></p>

                    </div>
                    <div class="col-50 text-right">
                        <p class="timestamp">
                            {{commentingFeel.date}}
                        </p>

                    </div>
                </div>
                <div class="row item-text-wrap text-wrap">
                    <div class="col col-100">
                        <p class="text-wrap">{{commentingFeel.feel}}</p>

                    </div>
                </div>
                <div class="row stats">
                    <div class="col-50">
                        <div class="inline" ng-show="commentingFeel.feltBy.length>0">
                            <i class="icon ion-heart inline"></i>

                            {{commentingFeel.feltBy.length}} Feels
                        </div>
                        <div class="inline" ng-show="feel.comments.length>0">
                            <i class="icon ion-heart inline"></i>

                            {{commentingcommentingFeel.comments.length}} Comments
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="button-bar">
                        <a ng-show="true" class="button button-light" ng-click="feelingItUp(id)"> <i
                                class="icon ion-heart"></i> Feel</a>
                        <a ng-show="!true" class="button button-light" ng-click="feelingItUp(id)"><i
                                class="icon ion-heart"></i> Feeled</a>
                        <a class="button button-light" ng-click="comment(id)">Comment</a>
                    </div>
                </div>
            </div>
            <div class="item" ng-repeat="(id, comment) in commentingFeel.comments">
                <div class="row col-offset-10">
                    <div class="like-count col-10 col-center" ng-click="feelingItUp(id)">
                        <!--<p>{{comment.feltBy.length}}</p>-->
                        <i class="icon ion-heart"></i>
                    </div>
                    <div class="col-70 item-text-wrap text-wrap">
                        <p>{{comment.user}}</p>

                        <p class="item-text-wrap">{{comment.comment}}</p>
                    </div>
                    <div class="col-offset-10 col-center">
                        <i class="icon ion-trash-b"
                           ng-show="currentUser === comment.user"
                           ng-click="deleteComment(id)"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-offset-50 col-50 text-right timestamp">
                        {{comment.date}}
                    </div>
                </div>
            </div>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-energized item-input-inset message-footer" style="height: auto" keyboard-attach>
        <label class="item-input-wrapper">
                <textarea class="animate msd-elastic: \n;" minlength="1" maxlength="200"
                          placeholder="Comment on this Feel..." ng-required="true" style="width: 100%;"
                          ng-model="commentingMessage.msg">
                </textarea>
        </label>

        <div class="footer-btn-wrap">
            <button ng-show='commentingFeel.msg !== ""' class="button button-icon icon ion-paper-airplane footer-btn" ng-click="commentOnFeel()"></button>
        </div>
    </ion-footer-bar>
</ion-modal-view>