<ion-modal-view view-title="Comment">
    <ion-header-bar class="bar-energized">
        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="closeComment()"></button>
        </div>
        <!--<div class="buttons">-->
        <!--<button class="button button-balanced ng-click="postFeel()">Feel</button>-->
        <!--</div>-->
    </ion-header-bar>
    <ion-content>
        <ion-list class="message_list color">
            <div class="item">
                <div class="row">
                    <div class="like-count col-10 col-center" ng-click="feelingItUp(id)">
                        <p>{{commentingFeel.feltBy.length}}</p>
                        <i class="icon ion-heart"></i>
                    </div>
                    <div class="col col-80 post-text item-text-wrap text-wrap">
                        <p>{{commentingFeel.user}} <i class="icon ion-trash-b"
                                                      ng-show="currentUser === commentingFeel.user"
                                                      ng-click="deleteFeel(id)"></i></p>

                        <p class="item-text-wrap">{{commentingFeel.feel}}</p>
                    </div>
                    <div class="comment col-10 col-center">
                        <p>{{commentingFeel.comments.length}}</p>
                        <i class="icon ion-chatbox"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-offset-50 col-50 text-right timestamp">
                        {{commentingFeel.date}}
                    </div>
                </div>
            </div>
            <div class="item" ng-repeat="(id, comment) in commentingFeel.comments">
                <div class="row col-offset-10">
                    <div class="like-count col-10 col-center" ng-click="feelingItUp(id)">
                        <!--<p>{{comment.feltBy.length}}</p>-->
                        <i class="icon ion-heart"></i>
                    </div>
                    <div class="col-70 item-text-wrap text-wrap">
                        <p>{{comment.user}}</p>

                        <p class="item-text-wrap">{{comment.comment}}</p>
                    </div>
                    <div class="col-offset-10 col-center">
                        <i class="icon ion-trash-b"
                           ng-show="currentUser === comment.user"
                           ng-click="deleteComment(id)"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-offset-50 col-50 text-right timestamp">
                        {{comment.date}}
                    </div>
                </div>
            </div>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-energized item-input-inset message-footer" style="height: auto" keyboard-attach>
        <label class="item-input-wrapper">
                <textarea class="animate msd-elastic: \n;" minlength="1" maxlength="200"
                          placeholder="Comment on this Feel..." ng-required="true" style="width: 100%;"
                          ng-model="commentingMessage.msg">
                </textarea>
        </label>

        <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-paper-airplane footer-btn" ng-click="commentOnFeel()"></button>
        </div>
    </ion-footer-bar>
</ion-modal-view>