<ion-view view-title="TEST PUSH">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <button class="button button-block button-assertive" ng-click="identifyUser()">
                Identify User
            </button>
                <button class="button button-block button-balanced" ng-click="pushRegister()">
                Register For Push
            </button>
            <button class="button button-block button-energized" ng-click="testPushToDhruval()">
                Test Push to Dhruval
            </button>
        </div>
        <form ng-submit="testSinglePushToToken()">
        <div class="list">
            <label class="item">
                    <textarea class="animate msd-elastic: \n;" minlength="1" maxlength="200"
                              placeholder="Post a Feel..." ng-required="true" style="width: 100%;"
                              ng-model="testSingleTokenMsg.msg"></textarea>
            </label>
            <label class="item item-input">
                <textarea class="animate msd-elastic: \n;" minlength="1" maxlength="200"
                          placeholder="Enter Token" ng-required="true" style="width: 100%;"
                          ng-model="testSingleTokenMsg.token"></textarea>
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Submit</button>
            </label>
        </div>
    </form>
    </ion-content>
</ion-view>
